*{
    margin: 0%;
    padding: 0%;
}
.cover{
    background-image: url("./images/background-img.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height:100vh;
    width: 100%;
    filter: brightness(100%);

}
.cover h1{
    font-size: 60px;
    color: black;
}
.description p{
    font-size: 30px;
    color:maroon
}
.main-nav{
    float: right;
    display: block;
    margin: 15px;
    padding: 15px;
}
.description{
    text-align: right;
    padding: 50px;

}
a{
    font-family: 'Poppins' ,sans-serif;
    margin-left: 15px;
    color: darkcyan;
    font-size: 16px;

}
a:hover{
  color: aqua;
  font-size: 20px;  
}
.home h1{
    text-align: left;
    padding-top: 200px;
}

.about-me{
    background-color: aliceblue;
    background-image: linear-gradient(to bottom left, blue,orange,pink)
}
.about-me h1{
    font-size: 60px;

}

.who{
    font-size: 30px;
    width: 1200px;
}
.who p{
    float: right;
}
.passion{
    font-size: 30px;
    width:1000px;
    height: 500px;
    padding-top: 20px;


}
.passion p{
    display: flex;

}
.likes{
    width: 1000px;
    background-color: teal;

}
.likes p{
    font-size: 30px;
}
.work{
    font-size: 30px;
    padding-left: 50px;
    line-height: 1.2;
    height:40vh;
}
.contact-box{
    font-family: 'Poppins' ,sans-serif;
    margin: 25px;
    font-size: 20px;

}
.flex-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins' ,sans-serif;
    height: 100vh;

}
img{
    width: 100%;
    
}
.who img{
    width: 300px;

}
footer{
    color: cyan;
}
.btn{
    display: inline-block;
    border-radius: 4px;
    padding: 8px 15px;
    margin: 3px;
    background-color: black;
    color: white;
}